body {
	line-height: 1.5;
	background:url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-size: cover;
}

/*Form styling */
.form-group {
	background-color: rgba(192,192,192,0.3); /*gray color of form*/
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	padding: 10px;
	margin: 0 auto;
	max-width: 50%;
}
/*Header*/

#title {
	text-align: center;
	text-shadow: 5px 3px 2px black;
	color: white;
	font-size: 35px;
}

#description {
	text-align: center;
	text-shadow: 5px 2px 3px black;
	color: white;
	font-size: 20px;
}
/*Titles*/

#name-label, #email-label, #number-label, #current-role-label, 
#most-like-label, #user-recommend-p, #prefer-p, #comments-p {
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

/*Entry box styles*/

#name, #email, #number, #dropdown, #most-like, #comments, #submit {
	width: 95%;
	margin: auto;
}

/*Radio User Recommend*/

.radio-label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	color: white;
}

.input-radio {
	color: white;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -5px;
}

/*Checkbox Any Improvements Entry*/

.checkbox-label {
	color: white;
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}
.input-checkbox {
	width: 15px;
	height: 15px;
	padding-top: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -5px;
}

/*Submit Button*/

#submit {
	background-color: green;
	color: white;
}

/*Footer*/

#copyright {
	padding-top: 55px;
	text-align: center;
	color: white;
}